 
.advertisement-container {
  position: absolute;
  top: 0;
  left: 0;
  width: auto; /* Allow width to adjust based on content */
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 5; /* Set a high z-index value */
  padding: 20px; /* Add padding for spacing */
  color: #571805;
}

.advertisement-card {
  max-width: 90%; /* Adjust width as needed */
  padding: 20px;
  background-color: rgba(116, 53, 53, 0.5); /* Semi-transparent white background */
  border-radius: 5px;
  text-align: center;
}

.advertisement-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.advertisement-card p {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: rgb(253, 253, 253);
  font-weight: bold;
}

.advertisement-card .btn {
  font-size: 1rem;
}

.image-description {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  font-size: 30px; /* Increase font size */
  font-weight: bold; /* Make text bold */
  color: white; /* Set text color to white */
  opacity: 0;
  transition: opacity 1.5s ease;
  text-align: center;
  background-color: transparent; /* Remove background */
}

.fade-in {
  animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0.1;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-container.active .image-description {
  opacity: 1;
}

.call-to-action {
  position: absolute;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container.active .call-to-action {
  opacity: 1;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .advertisement-container {
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%; /* Adjusted for better responsiveness */
  }
  .call-to-action {
    bottom: -200px; /* Adjusted for mobile devices */
  }
}
