
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%; /* Set a default width for the content */
  margin: 0 auto; /* Center the container horizontally */
}

.header {
 
  color: #fff;
  padding: 20px;
}

.navbar {
  background-color: #f4f4f4;
  padding: 10px;
}

.content {
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Media queries for responsive design */
@media (min-width: 767px) {
  .container {
    width: 90%; /* Adjust width for larger screens */
  }
}

/* Tablet and larger */
@media (min-width: 768px) {
  .container {
    width: 70%; /* Adjust width for larger screens */
  }
}

/* Desktop and larger */
@media (min-width: 992px) {
  .container {
    width: 80%; /* Adjust width for even larger screens */
  }
}




/* Combined Header Styles */
#combined-header {
  background-color: rgba(247, 247, 247, 0.959);
  top: 0;
  width: 98.6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(31, 5, 5, 0.5);
  text-decoration: none;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
  padding: 3px 10px;
  height: 90px;

}

/* Section Styles */
#logo-section, #call-us-section, #social-icons-section, #feature-buttons-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
 margin-top: -30px;
}

#logo-section img {
  max-width: 100px;
}

#title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

#site-title {
  font-size: 1.5rem; /* Large font size */
  font-weight: bold; /* Bold text */
  color: #333; /* Dark color for better readability */
}

#tagline {
  font-size: 1.2rem;
  color: #791010;
  margin-top: 5px;
  animation: pulse 1.5s infinite alternate; /* Animation with pulse effect */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Initial scale */
  }
  100% {
    transform: scale(1.1); /* Slightly larger scale */
  }
}

/* Call Us Styles */
#call-us {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#phone-icon {
  margin-right: 5px;
}

/* Social Icons Styles */
#social-icons {
  display: flex;
  align-items: center;
}

.social-icon {
  color: black;
  border-right: 1px solid #ccc;
  padding: 0 0.25rem;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.social-icon:last-child {
  border-right: none;
}

.social-icon:hover {
  color: #333;
}

/* Select Styles */
#currency-select, #language-select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.0rem;
  margin-right: 0.5rem;
  appearance: none;
  padding: 5px 10px;
}

#currency-select::-ms-expand, #language-select::-ms-expand {
  display: none;
}

/* Feature Buttons */
/* Feature Buttons */
#feature-buttons-section {
  display: flex;
  align-items: center;
}

#sellButton {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 0.5rem 1rem;
  background-color: #b14024d2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#sellButton:hover {
  background-color: #b14024;
}

#sellButton i {
  margin-right: 5px; /* Adjust margin between icon and text */
}

.user-actions {
  display: flex;
  flex-direction: column; /* Display items in a column */
  align-items: flex-start; /* Align items to the start */
  left: -70px; /* Add margin to separate from other elements */
}

.user-actions .sign {
  color: #0c0909;
  font-size: 1.2em;
  margin-top: 5px; /* Add margin to separate from other elements */
  left: -70px; 
}
#title-section, #call-us-section {
  padding: 20px;
  text-align: center;
}
/* Styling for larger screens */
@media (min-width: 768px) {
  #title-section {
    display: block;
  }
  #call-us-section {
    display: block;
  }
}

/* Styling for phone screens */
@media (max-width: 767px) {
  #title-section {
    display: none; /* Hide title section on small screens */
  }
  #call-us-section {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  #call-us {
    display: flex;
    align-items: center;
  }
  #phone-icon {
    margin-right: 10px;
  }
  #phone-number {
    font-size: 16px;
  }
}

/* Media query: Hide elements on screens smaller than 768px */
 


/* Cart icon */



/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgba(75, 10, 10, 0.904) 40%, rgba(75, 10, 10, 0.904) 100%);

  padding: 15px 30px;
}

.menu-icon {
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

.menu-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.menu-links a:hover {
  color: #ddd;
}
/* Styles for larger screens */
.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 5px solid #070606; 
  border-radius: 20px;
  background-color: #f4f4f4;
  font-size: 1em;
  color: #333;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  background-color: #867f7f;
  outline: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-button {
  border: none;
  background-color: #b14024d2;
  color: #fff;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 0.8em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #b14024;
}
/* CSS for the nice-select dropdown */
.nice-select {
  padding: 0.8em 1.2em; /* 8px top/bottom, 12px left/right */
  border-radius: 0.5em; /* 5px */
  border: 0.1em solid #ccc; /* 1px */
  background-color: #fff;
  font-size: 1em; /* 100% relative to the parent */
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nice-select:focus {
  outline: none;
}

/* Arrow icon */
.nice-select::after {
  content: '\25BC';
  font-size: 0.2em; /* 12px */
  color: #666;
  position: absolute;
  top: 50%;
  right: 1.2em; /* 12px */
  transform: translateY(-50%);
}

/* Styling for selected option */
.nice-select option:checked {
  background-color: #965858;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .nice-select {
    font-size: 1.1em; /* 110% relative to the parent */
    padding: 0.6em 0.9em; /* 6px top/bottom, 9px left/right */
  }
  
  .nice-select::after {
    right: 0.9em; /* 9px */
  }
}


.cart-icon span {
  margin-left: 5px;
  font-size: 0.8em;
  background-color: #ff0000;
  color: #fff;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Styles for phone screens */
@media (max-width: 767px) {
  .search-input {
    width: 80px; /* Adjust input width for smaller screens */
    font-size: 0.9em; /* Adjust font size for smaller screens */
  }

  .search-button {
    padding: 8px 20px; /* Adjust button padding for smaller screens */
    font-size: 0.7em; /* Adjust font size for smaller screens */
  }

  .cart-icon {
    font-size: 1em; /* Adjust cart icon size for smaller screens */
    padding: 6px; /* Adjust cart icon padding for smaller screens */
  }

  .cart-icon span {
    font-size: 0.7em; /* Adjust cart icon span font size for smaller screens */
    padding: 1px 4px; /* Adjust cart icon span padding for smaller screens */
  }
}

 
/* Dropdown Content Styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 100;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* General styling for the sections */


.large-screen-only {
  display: block;
}

/* Media query: Hide elements on screens smaller than 768px */
@media (max-width: 767px) {
  .large-screen-only,
  .user-actions {
    display: none;
  }
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  background-color: #f4f4f4;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: #4CAF50;
}

a:hover {
  color: #45a049;
}

#registerModal,
#forgotPasswordModal {
  display: none;
}








 


























































/* Category Styles */
@media (max-width: 576px) {
  .category h6,
  .category-products {
    margin-left: 
  0%; /* Adjust margin for smaller screens */
  }
}

.category h4 {
  font-size: 1.05em; /* 20px converted to em */
  margin-left: 46%; /* Adjust margin for smaller screens */
  background-image: linear-gradient(to right, #8135355e 200px, rgb(235, 235, 235) 50px);
  width: 70%; /* Adjusted width for responsiveness */
  max-width: 1130px; /* Maximum width */
  color: rgba(0, 0, 0, 0.51); /* Adjusted color for transparency */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .category h4 {
    font-size: 1em; /* Reset font size */
    margin-left: 0; /* Reset margin for smaller screens */
    width: auto; /* Auto width for responsiveness */
    background-image: linear-gradient(to right, #8135355e 100px, rgb(235, 235, 235) 30px);
  }
}
/* Card Styles */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center cards horizontally */
  position: relative;
  margin-left: 0; /* Reset margin for smaller screens */
  margin-right: 0; /* Reset margin for smaller screens */
}

.card {
  position: relative;
  width: 45%; /* Adjusted width for smaller screens */
  margin: 1em; /* Adjusted margin for spacing */
  height: auto; /* Adjusted height */
  background-color: #b99b9b15;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Adjust card width for medium screens */
@media only screen and (min-width: 576px) {
  .card {
    width: 30%; /* Adjusted width for medium screens */
  }
}

/* Adjust card width for extra small screens */
@media screen and (max-width: 480px) {
  .card {
    width: 90%; /* Adjusted width for extra small screens */
    margin: 0.5em auto; /* Center cards horizontally */
  }
}

.card:hover {
  transform: translateY(-5px);
}

.card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.card:hover .overlay {
  display: flex;
}

.card:hover .overlay .btn {
  display: block;
}

.overlay .btn {
  display: none;
  margin: 0.25em;
}

.card img {
  width: 100%;
  height: auto; /* Allow images to adjust their height */
  border-radius: 0px;
}

.card .card-header {
  font-size: 1.425em; /* 18px converted to em */
  font-weight: bold;
}


.card p {
  font-size: 0.985em; /* 14px converted to em */
  line-height: 1.4;
  margin-bottom: 0.625em; /* 10px converted to em */
  margin: 2px;
}

/* Button Styles */
@media (max-width: 768px) {
  .btn {
    margin-left: 20%; /* Adjust margin for smaller screens */
  }
}
 

.btn-primary,
.prev-btn,
.next-btn
  {
  background-color: transparent;
  border: 0.125em solid #db6934; /* Thin border */
  color: #db4d34;
  padding: 0.625em 1.875em; /* Adjust padding for button width */
  font-size: 1.125em; /* 18px converted to em */
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.3125em; /* Adjust border-radius for a slightly rounded appearance */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
}

.btn-primary:hover,
.prev-btn:hover,
.next-btn:hover
 {
  background-color: #ffffff;
  color: #0e0909; /* Change text color on hover */
  border-color: #ffffff; /* Change border color on hover */
}

/* Adjust button appearance when pressed */
.btn-primary:active,
.prev-btn:active,
.next-btn:active
 
 {
  transform: translateY(0.0625em); /* 1px converted to em */
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.3); /* 1px converted to em */
}

/* Navigation Buttons */
.button-container {
  position: relative;
}

.prev-btn,
.next-btn {
  font-weight: bold;
  color: #fff;
 background-color: #333;
  border: none;
  border-radius: 0.625em; /* 10px converted to em */
  padding: 0.75em 1.5em; /* Adjust padding */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  position: absolute;
  bottom: 160px; /* Adjust as needed */
  margin-left: 21%; /* Adjust margin for smaller screens */
}

.prev-btn {
  left: -28px; /* Adjust as needed */
}

.next-btn {
  right: 20px; /* Adjust as needed */
}



















































.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(41, 128, 185, 0.1); /* Make background transparent with blue tint */
  transform: scale(1.05);
}


/* Media query for small screens */
@media screen and (max-width: 768px) {
  .prev-btn {
    left: 10px; /* Adjusted position for small screens */
    margin-left: 0; /* Remove margin for small screens */
  }

  .next-btn {
    right: 10px; /* Adjusted position for small screens */
  }
}










.animated-element {
  /* Example animation */
  
  margin-left: 23%; /* Adjust margin for smaller screens */
  animation: moveRight 1s ease-in-out infinite alternate;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0px);
  }
}


.price-container {
  display: flex;
  flex-wrap: nowrap; /* Prevents items from wrapping onto a new line */
}

.price {
  color: red;
  font-weight: bold;
  margin-right: 20px; /* Adjust as needed */
}

.strike-through {
  color: rgb(26, 17, 17);
  font-weight: bold;
  text-decoration: line-through;
}

 
  
  
  
  
  
 

 

.view-btn {
  margin-top: 100px; /* Push buttons to the bottom */
}


/* Button Styles */
.add-to-cart-btn,
.view-btn {
  background-color: transparent;
  border: 2px solid #db6934;
  color: #db4d34;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
  margin-right: 10px;
  align-self: flex-end; /* Align buttons to the bottom */
  margin-top: 100px; /* Push buttons to the bottom */
}

.add-to-cart-btn:hover,
.view-btn:hover {
  background-color: #ffffff;
  color: #0e0909;
  border-color: #ffffff;
}

.add-to-cart-btn:active,
.view-btn:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}






/* Cart Container */
.cart-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  z-index: 1000;
}

.cart-container h2 {
  margin-bottom: 20px;
}

.cart-item {
  margin-bottom: 10px;
}

.cart-item button {
  margin-left: 10px;
}

.cart-item span {
  font-weight: bold;
}

.cart-item input[type="number"] {
  width: 50px;
  text-align: center;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
 
  z-index: 9999;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Form Container */
.form-container {
  margin-top: 20px;
}

/* Form Fields */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Submit Button */
.btn-primary,
.btn-success {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}


/* Cart container */
.cart-container {
  display: none;
  position: fixed;
  top: 50px;
  right: 10px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 20px;
  border-radius: 5px;
 z-index: 100;
  
}

.cart-container .controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-container .controls button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
/* CSS for cart buttons */
/* CSS for cart buttons */
.controls {
  margin-bottom: 10px; /* Add some space below the buttons */
}

.controls button {
  background-color: #007bff; /* Blue background color */
  color: #792121; /* White text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 8px 16px; /* Padding for button */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-right: 10px; /* Add some space between the buttons */
}

.controls button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}





















 














































@media (max-width: 767px) {
  .advertisement2-card2 {
    display: none;
  }
}

.advertisement2-card2 {
  display: none;
}

/* Show the advertisement2-card2 only on screens 1024px and wider */
@media screen and (min-width: 1024px) {
  .advertisement2-card2 {
    display: flex;
    display: none;
    position: absolute;
    width: 250px;
    border: 3px solid #ccc;
    overflow: hidden;
    margin: 20px;
    height: auto; /* Remove fixed height */
    display: flex;
    flex-direction: column;
    top: 850px; /* Make it visible on larger screens */
  }
}

.image-container9 {
  height: 150px;
}

.image-container9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 5px;
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 0;
}

p {
  margin-bottom: 10px;
  font-size: 14px;
}

.cta-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

.brand-logo img {
  width: 60px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 5px;
}

.contact-info {
  margin-bottom: 5px;
}

.contact-info p {
  margin: 2px 0;
  font-size: 12px;
}

.social-links {
  margin-top: auto;
  font-size: 14px;
}

.social-links a {
  display: inline-block;
  margin-right: 5px;
  color: #333; /* Adjust color as needed */
}











































































.navbar0 {
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap cards to the viewport */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  justify-content: flex-start; /* Align items to the left */
  margin-left: 0; /* Adjust margin for smaller screens */
  margin-right: 0; /* Adjust margin for smaller screens */
}

.card0 {
  flex: 0 0 72px; /* Adjust card width */
  height: 70px; /* Adjust card height */
  margin: 4px; /* Adjust spacing between cards */
  background-color: #8135355e;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card0:hover {
  background-color: #f0f0f0;
}

.card0 a {
  text-decoration: none;
  color: #333;
  font-size: 15px; /* Adjust font size */
}

@media screen and (min-width: 576px) {
  .navbar0 {
    margin-left: 20%; /* Adjust margin for medium screens */
    margin-right: 0.50%; /* Adjust margin for medium screens */
  }

  .card0 {
    flex: 0 0 120px; /* Adjust card width for medium screens */
    height: 100px; /* Adjust card height for medium screens */
    font-size: 14px; /* Adjust font size for medium screens */
    margin: 4px; /* Adjust spacing between cards */
  }
}
 
 


/* Base styles for all devices (including phone screens) */
.navbar10 {
  padding: 3px;
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scroll bar */
  scroll-snap-type: x mandatory; /* Snap cards to the viewport */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
  justify-content: flex-start; /* Align items to the left */
  margin-left: 0; /* Adjust margin for smaller screens */
  margin-right: 0; /* Adjust margin for smaller screens */
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

.navbar10 a {
  flex: 0 0 100px; /* Adjust link width */
  height: 25px; /* Adjust link height */
  margin: 3px; /* Adjust spacing between links */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #853e3e11;
  text-decoration: none;
  color: #333;
  font-size: 10px; /* Adjust font size */
  position: relative; /* Required for positioning the pseudo-element */
}

.navbar10 a:after {
  content: '';
  position: absolute;
  bottom: -1px; /* Position the line closer to the text */
  left: 50%;
  transform: translateX(-50%);
  width: 30%; /* Adjust to set the width of the line */
  border-bottom: 1px solid #333; /* Add bottom border */
}

/* Styles for big screens (minimum width of 600px) */
@media screen and (min-width: 570px) {
  .navbar10 {
    margin-left: 20%; /* Adjust margin for medium screens */
    margin-right: 0.50%; /* Adjust margin for medium screens */
  }

  .navbar10 a {
    flex: 0 0 160px; /* Adjust link width for big screens */
    font-size: 16px; /* Increase font size for big screens */
  }

  .navbar10 a:after {
    width: 70%; /* Adjust underline width for big screens */
  }
}


































































































/* Base styles for all devices */
.title-container {
  text-align: left;
  width: 100%;
  height: 50px;

  max-width: 500px;
  position: relative;
  padding-left: 0; /* Initial padding */
  padding-right: 0;
}

.title {
  font-size: 18px;
  color: #0a080863;
  margin: 0;
}

 
/* Styles for big screens (minimum width of 576px) */
@media screen and (min-width: 576px) {
  .title-container {
    padding-left: 60px; /* Increase padding for big screens */
    padding-right: 100px; /* Increase padding for big screens */
    font-size: 22px; /* Increase font-size for big screens */
  }

  .title {
    font-size: 20px; /* Increase font-size for big screens */
    right: 50px;
  }

  .underline {
    margin-left: 50%; /* Adjust margin for medium screens */
    margin-right: 7.50%; /* Adjust margin for medium screens */
    width: 100%; /* Full width by default */
  }
}



/* Your CSS styles here */
 
/* Your CSS styles here */
 
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 276px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden; /* Ensure no content overflows beyond the height */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min-width to fit all content */
  grid-gap: 20px;
  align-items: start;
  width: 100%;
  flex-grow: 1; /* Ensures it takes available space without overflowing */
}

.footer-section {
  margin: 0;
}

.footer-section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #8a7138;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #ccc;
}

.footer-form h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #8a7138;
}

.footer-form input[type="email"] {
  width: 100%;
  max-width: 250px;
  padding: 5px 10px; /* Adjust padding to fit within the height */
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.footer-form input[type="email"]::placeholder {
  color: #ccc;
}

.footer-form button {
  background-color: #b14024;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Adjust padding to fit within the height */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-form button:hover {
  background-color: #8d5e5e;
}

/* Media queries for responsive design */

/* Phone screens */
@media (max-width: 767px) {
  .footer-content {
    grid-template-columns: 1fr;
  }
}
.contact-icon {
  width: 50px; /* Adjust the size as needed */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Ensures proper spacing */
  margin: 0 auto; /* Centers the image horizontally */
  padding: 19px;
}
